
 a {
    color: #0288d1;
    text-decoration: none;
 }

a:hover {
    text-decoration: underline;
}

html {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    height:100%;
}

body, h1, h2, h3, h4, h5, h6 {
    /*margin: 0;*/
}

body {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin:0;
    padding:0;
    height:100%;
}

.upperCase input {
    text-transform: uppercase;
}

.inlineBlock {
    display: inline-block;
}

.centered {
    text-align: center;
}

.text-field-text-right > input {
    text-align: right;
}

.right {
    float: right;
}

.historyTable td,
.historyTable th
{
   text-align:left;
}

#right,
.historyTable td + td,
.historyTable th + th
{
   text-align:right;
}

.eventCode, .eventInput input {
    font-family: Consolas, "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 120%;
    letter-spacing: 0.3em;
}

.eventName {
    font-size: 120%;
    color: #757575;
    padding-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.paper {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.bold td {
    font-weight: bold;
}

 #content {
     min-height:100%;
     position:relative;
 }
 #header {
     background:#ededed;
     padding:10px;
 }
 #realContent {
     padding-bottom:60px; /* Height of the footer element */
 }
 #footer {
     width:100%;
     height:30px;
     position:absolute;
     bottom:0;
     left:0;
     font-size: 60%;
     color: #757575;
 }

 input {
     margin-bottom: 100px;
 }
