
 a {
    color: #0288d1;
    text-decoration: none;
 }

a:hover {
    text-decoration: underline;
}

html {
    font-family: 'Roboto', sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    /*margin: 0;*/
}

body {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.upperCase input {
    text-transform: uppercase;
}

.inlineBlock {
    display: inline-block;
}

.centered {
    text-align: center;
}

.text-field-text-right > input {
    text-align: right;
}

.right {
    float: right;
}

.historyTable td,
.historyTable th
{
   text-align:left;
}

#right,
.historyTable td + td,
.historyTable th + th
{
   text-align:right;
}

.eventCode, .eventInput input {
    font-family: Consolas, "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 120%;
    letter-spacing: 0.3em;
}

.eventName {
    font-size: 120%;
    color: #757575;
    padding-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.paper {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.bold td {
    font-weight: bold;
}
